body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Prata', serif;
  background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../images/site-bg.jpg");
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.page-title, .page-welcome {
  background-color: white;
  width: 15%;
  text-align: center;
  text-shadow: 20px;
  box-shadow: 15px 15px 35px 0px rgba(0,0,0,0.6) ;
  border: black 2px solid;
  border-radius: 5px;
}

.search {
  /* visibility: hidden; */
  display: none;
  width: 25%;
  height: 100%;
  font-size: 40px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.search-btn {
  /* visibility: hidden; */
  display: none;
  width: 25%;
  height: 100%;
  margin-top: 10px;
}

.recipe-card {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 200px;
  margin: 20px 5px 20px 5px;
  box-shadow: 10px 10px 14px 0px #000000;
  border-radius: 5px;
}

.card-display {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: translucent;
}

.ten-spacer {
  width: 10%;
  height: 100%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}

.welcome {
  width: 27%;
  height: 200px;
  background-color: #ffffff;
  margin: 5% 4% 5% 4%;
  border: black 2px solid;
  border-radius: 5%;
  box-shadow: 15px 15px 35px 0px rgba(0,0,0,0.6);
}

.welcome:hover {
  cursor: pointer;
}

.welcome:active {
  cursor: none;
}


.nav-buttons {}

.nav-popup {
  width:95%;
  height:7%;
  background-color: #ffffff;
  margin: 7px 0px 7px 0px;
}

.filter-area,
.popup-animate {
  animation-name: button-slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

h1 {
  margin-bottom: 0px;
}

.main-titles {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #559A3A;
}

.my-recipes-box, .all-recipes-box, .pantry-box, .recipes-to-cook-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.my-recipes-box {
  background-image: url('../images/my-recipes.png');
}

.all-recipes-box {
  background-image: url('../images/all-recipes.png');
}

.pantry-box {
  background-image: url('../images/my-pantry.png');
}

.recipes-to-cook-box {
  background-image: url('../images/recipes-to-cook.png');

}

.faded {
  animation-duration: 1.5s;
  animation-name: fade-out;
  animation-fill-mode: forwards;
}

/* .recipes {
  width: 50px;
  background-color: blue;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: translucent;
} */

.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 10%;
  background-color: #268AFF;
}

.filter-area {
  background-color: white;
  width: 90%;
  height: 50%;
  margin-top: 27%;

}

/* Creating the favorite heart on the card */
/* .heart {
  background-image: url('../images/heart-active.png');
} */

.plus {
  background-image: url("../images/Plus_symbol.png");
}

.plus, .heart {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.heart:hover, .plus:hover {
  opacity: 1;
  cursor: pointer;
}

.button-arrangement {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 90%;
}


 @keyframes button-slide {
   from {
   position: relative;
   left: -100px;
   }
}

@keyframes fade-out {
  0% {}

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes nav-animation {
  0% {}

  25% {
    border-right: rgba(0, 0, 0, 0.0);
    border-left: rgba(0, 0, 0, 0.0);
    width: 75%;
    opacity: 0;
  }

  80% {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    width: 0%;
    border-left: rgba(0, 0, 0, 0.0);
    border-right: rgba(0, 0, 0, 0.0);
    opacity: 0;
  }

  100% {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    background-color: #268AFF;
  }
}
