body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Prata', serif;
  background-image: url("../images/site-bg.jpg");
}

main{
  display: flex;
  flex-direction: row;
  width:100%;
  height: 100%;
}

.recipe-card {
  display: flex;
  flex-direction: row;
  width:30%;
  height:200px;
  background-image: url("https://spoonacular.com/recipeImages/595736-556x370.jpg");
  margin: 20px 5px 20px 5px;
  box-shadow: 10px 10px 14px 0px #000000;
  border-radius: 5px;
}

.card-display {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: translucent;
}

.ten-spacer {
  width:10%;
  height:100%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  border-left: 4px solid #268AFF;
  border-right: 4px solid #268AFF;
}

.welcome {
  width: 27%;
  height: 200px;
  background-color: #268AFF;
  margin: 5% 4% 5% 4%;
  border-radius: 2%;
  background-image: url("https://spoonacular.com/recipeImages/595736-556x370.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


  .welcome:hover {
    cursor:pointer;
  }

  .welcome:active {
    cursor:none;
  }

.nav-buttons {

}

.nav-popup {
  width:95%;
  height:75px;
  background-color: #FD9A28;
  margin: 7px 0px 7px 0px;
}

.popup-animate {
  animation-name: button-slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

h1{
  margin-bottom: 0px;
}

.main-titles {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #FD9A28;
}

.menu-box {
/* used to select all boxes */
}

.my-recipes-box {

}

.all-recipes-box {

}

.pantry-box {

}

.recipes-to-cook-box {

}

.faded {
  animation-duration: 1.5s;
  animation-name: fade-out;
  animation-fill-mode: forwards;
}

.recipes {
  width: 50px;
  background-color: blue;
  height: 50px;
  display: flex;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto;
}

.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 10%;
  background-color: #268AFF;
}

/* Creating the favorite heart on the card */
.heart {
  background-color: #FF6665;
  display: inline-block;
  opacity: .6;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #FF6665;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}

.heart:hover,
.heart:hover:before,
.heart:hover:after {
  background-color: red;
  opacity: 1;
  cursor: pointer;
}

.button-arrangement {
  width:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.plus {
  height: 50px;
  width: 50px;
  background-image: url("../images/Plus_symbol.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: translucent;
}

.plus:hover {
cursor: pointer;
}

  @keyframes button-slide {
    from {
      margin-right: 100%;
      width: 300%;
    }

    to {
      /* position: relative;
      top: 40px; */
      margin-right: 0%;
      width: 100%;
    }
  }


  @keyframes fade-out {
    0% {

    }

    25%{
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes nav-animation {
    0% {

    }

    25% {
      border-right: rgba(0,0,0,0.0);
      border-left: rgba(0,0,0,0.0);
      width: 75%;
      opacity: 0;
    }

    80% {
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: space-around;
      width: 0%;
      border-left: rgba(0,0,0,0.0);
      border-right: rgba(0,0,0,0.0);
      opacity: 0;
    }

    100% {
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 10%;
      background-color: #268AFF;
    }
  }
